.searchContainer {

    padding: 10px;
    border-radius: 5px;
}

.searchTitle {
    font-size: 18px;
    font-weight: bold;
}

.searchInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}